---
---

/* Font variables */


h1,h2,h3,h4,h5,h6,p, ol {
  font-family: 'courier', sans-serif;
  color: #696a6b;
}

h1 {
  text-transform: uppercase;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 { 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

a {
  text-decoration: none;
  color: #00b4ff;
  position: relative;
}

p, li {
  line-height: 150%;
}

/* Underline animation on hyperlink hover */

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fd7e9f;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover {
  text-decoration: none;
  color: #fd7e9f;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Main sections of project index page */

.page-heading {
  margin: 0;
}

.navHome {
  padding: 1em;
}

.intro {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
}

.header-container {
  padding-bottom: 1%;
  margin: 0 3% 0 3%;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #d1d1d2;
}

.project-list {
  color: #696a6b;
  margin: 0 3% 0 3%;
}

.project-list h2 {
  margin: 0;
}

/* Body styling on home page */

.homeBody {
  background-color: aliceblue;
}

/* Centered Action Button with full width wrapper */

.actionButton {
  width: 150px;
  height: 75px;
  background-color: #b8ffac;
  border-radius: 5px;	
  font-size: 24px;
  text-align: center;
  color: #6b6464;
}

.actionButton p {
  padding-top: 15%;
}

.actionButton:hover {
  background-color: brown;
  color: #ffffff;
}

.buttonWrap {
  max-width: 100%;
  margin: 10% auto;
  text-align: center;
}

.position-bottom-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.position-bottom-left {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
