---
---

/* Font variables */


p, ol {
  font-family: 'courier', sans-serif;
  color: #121619;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
}

h1 {
  text-transform: uppercase;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 { 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

a {
  text-decoration: none;
  color: #00b4ff;
  position: relative;
}

p, li {
  line-height: 150%;
}

/* Underline animation on hyperlink hover */

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fd7e9f;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover {
  text-decoration: none;
  color: #fd7e9f;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Main sections of project index page */

html, body {
  background-color: #F7F7F2;
}

.page-heading {
  margin: 0;
}

.navHome {
  padding: 1em;
}

.intro {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
}

.header-container {
  padding-bottom: 1%;
  margin: 0 3% 0 3%;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #d1d1d2;
}

.project-list {
  color: #696a6b;
  margin: 0 3% 0 3%;
}

.project-list h2 {
  margin: 0;
}

/* Body styling for experiment pages */

.main-content {
  background-color: #F7F7F2;
  padding: 2%; 
}

.rules {
  width: 50%;
  text-align: left;
  margin: 0 auto;
  font-size: 1em;
  padding-bottom: 2em;
}

.experiment-body {
  width: 100%;
  text-align: center;
  margin: 25px 0 0 0;
}

.maxNumInput {
  font-size: 16px;
  width: 50%;
  text-align: center;
  font-style: italic;
  border: 1px solid #f1f1f1;

}

.startBtn {
  width: 50%;
  margin-left: auto;
  text-align: center;

  font-size: 24px;

  border-bottom: aliceblue;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.message-display {
  width: 100%;
  margin: 0 auto;
  font-size: 24px;
  padding: 25px 0 0 0;
}

.site-footer {
  background-color: #F7F7F2;
  width: 100%;
  height: auto;
}

/* Body styling on home page */

.home-body {
  background-color: #F7F7F2;
}

.align--center {
  text-align: center;
}

/* Centered Action Button with full width wrapper */

.actionButton {
  font-family: 'Lato', sans-serif;
  width: 160px;
  height: 40px;
  background-color: #09814A;
  border-radius: 5px;	
  font-size: 20px;
  color: #ffffff;
  margin: 15px;
  border-style: none;
}

.actionButton p {
  padding-top: 15%;
}

.actionButton:hover {
  background-color: #09814A;
  color: #ffffff;
}

.buttonWrap {
  max-width: 100%;
  margin: 10% auto;
  text-align: center;
}

.position-bottom-right {
  position: sticky;
  right: 0px;
  bottom: 0px;
}

.position-bottom-left {
  position: sticky;
  left: 0px;
  bottom: 0px;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 

  .main-content { padding: 5% 10% 10% 10% }
  .rules { width: 100% }

  .site-footer {
    position: absolute;
    bottom: 5%;
    display: block;
    width: auto;
  }

  h2 { margin-top: 0 }
}

@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
  .rules { width: 85% }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .rules { width: 75% }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
  .rules { width: 50% }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }