---
---
@charset "utf-8";


#homeBody {
	background-color: aliceblue;
}


/* =================================================
		Centered Action Button with full width wrapper
================================================== */

#actionButton {
	width: 150px;
	height: 75px;
	background-color: #b8ffac;
	border-radius: 5px;
	
	font-size: 24px;
	text-align: center;
	color: #6b6464;
}

#actionButton p {
	padding-top: 15%;
}

#actionButton:hover {
	background-color: brown;
	color: #ffffff;
}

#buttonWrap {
	max-width: 100%;
	margin: 10% auto;
	text-align: center;
}


