---
---
@charset "utf-8";

/* =================================================
    Trumpisms + Trump or Not
================================================== */


#displayedQuote {
  width: 100%;
  font-size: 32px;
  font-style: italic;
}

.quoteWrap {
  max-width: 100%;
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
}

.trumpBG {
  /* max-width: 100%; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#actionButtonTrump-true,
#actionButtonTrump-false {
  width: 250px;
  height: 75px;
  border-radius: 5px;
  display: inline;
  
  font-size: 24px;
  text-align: center;
  color: white;
}

#actionButtonTrump-true:active,
#actionButtonTrump-true:focus,
#actionButtonTrump-false:active,
#actionButtonTrump-false:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#actionButtonTrump-true p,
#actionButtonTrump-false p {
  padding-top: 15%;
}

.buttonWrapTrump {
  width: 49%;
  max-width: 50%;
  text-align: center;
  display: inline-block;
}

.defaultButtonState {
  background-color: rgba(71,129,255,1);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.correctAnswer {
  background-color: rgba(57,254,102,1);
  -webkit-transition: all 0.0s ease;
  -moz-transition: all 0.0s ease;
  -o-transition: all 0.0s ease;
  -ms-transition: all 0.0s ease;
  transition: all 0.0s ease;
}

.incorrectAnswer {
  background-color: rgba(255,72,72,1);
  -webkit-transition: all 0.0s ease;
  -moz-transition: all 0.0s ease;
  -o-transition: all 0.0s ease;
  -ms-transition: all 0.0s ease;
  transition: all 0.0s ease;
}

.container-full {
  max-width: 100%;
  margin: 10% auto;
}

.container-half {
  max-width: 100%;
  margin: 5% auto;
}
